@model IEnumerable<ProjetoFinal.Models.AnaliseQualidade>

@{
    ViewData["Title"] = "Lista";
}

<h2>Lista</h2>

<p>
    <a asp-action="Create">Nova Analise Qualidade</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.aprovado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.responsavel)
            </th>
               <th>
                @Html.DisplayNameFor(model => model.ordem)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.aprovado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.responsavel)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.ordem.data)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
