@model ProjetoFinal.Models.Embalagem

@{
    ViewData["Title"] = "Detalhes";
}

<div>
    <h2> Detalhes - Embalagem</h2>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.tamanho)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.tamanho)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.produto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.produto.nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.fornecedor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.fornecedor.nome)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Editar</a> |
    <a asp-action="Index">Voltar</a>
</div>
